<div class="grid-960">
    <div class="group">
        <h2 class="page-title center">已成功參加活動者</h2>
        <div class="sign-up clearfix">
            <ul>
                <li>
                    <span><img src="images/default.png"></span>
                    <span class="sign-up-name"><a href="">張小婷張小婷張小婷張小婷</a></span>
                </li>
                <li>
                    <span><img src="images/default.png"></span>
                    <span class="sign-up-name"><a href="">張小婷</a></span>
                </li>
                <li>
                    <span><img src="images/default.png"></span>
                    <span class="sign-up-name"><a href="">張小婷</a></span>
                </li><li>
                    <span><img src="images/default.png"></span>
                    <span class="sign-up-name"><a href="">張小婷</a></span>
                </li><li>
                    <span><img src="images/default.png"></span>
                    <span class="sign-up-name"><a href="">張小婷</a></span>
                </li><li>
                    <span><img src="images/default.png"></span>
                    <span class="sign-up-name"><a href="">張小婷</a></span>
                </li>
            </ul>
        </div>
    </div>
</div>