<div class="grid-960">
    <div class="group">
        <h2 class="page-title">【耶誕古典樂】</h2>
        <div class="sign-up-btn"><button class="sign-up-btn-style">我要參加<br />《耶誕古典樂》<br />活動</button></div>
        <div class="desc">
            於享受典藏　耶誕跨年古典樂活動頁面按參加《耶誕古典樂》者至主題點播頁面收藏MUZIK推薦的耶誕歌，即可參加抽獎。
        </div>
    </div>
    <div class="group">
        <h3 class="title">活動流程</h2>
        <p><img src="images/classical-step.jpg"></p>
    </div>
    <div class="group">
        <p>step1. 請先登入</p>
        <p><img src="images/step-start.jpg"></p>
        <br />
        <p>step2. 收藏 MUZIK 推薦的耶誕歌</p>
        <p><img src="images/classical-step02.jpg"></p>
        <br />
        <p>step3. 完成活動</p>
        <p><img src="images/classical-step03.jpg"></p>
        <br />
    </div>
    <div class="group">
        <div class="center"><button class="sign-up-btn-style2">我要參加《耶誕古典樂》活動</button></div>
    </div>
    
    <div class="group">
        <div class="sub-title">已成功參加活動者</div>
        <div class="sign-up clearfix">
            <ul>
                <li>
                    <span><img src="images/default.png"></span>
                    <span class="sign-up-name">張小婷張小婷張小婷張小婷</span>
                </li>
                <li>
                    <span><img src="images/default.png"></span>
                    <span class="sign-up-name">張小婷</span>
                </li>
                <li>
                    <span><img src="images/default.png"></span>
                    <span class="sign-up-name">張小婷</span>
                </li>
                <li>
                    <span><img src="images/default.png"></span>
                    <span class="sign-up-name">張小婷</span>
                </li>
                <li>
                    <span><img src="images/default.png"></span>
                    <span class="sign-up-name">張小婷</span>
                </li>
                <li>
                    <span><img src="images/default.png"></span>
                    <span class="sign-up-name">張小婷</span>
                </li>
                <li>
                    <span><img src="images/default.png"></span>
                    <span class="sign-up-name">張小婷</span>
                </li>
                <li>
                    <span><img src="images/default.png"></span>
                    <span class="sign-up-name">張小婷</span>
                </li>
                <li>
                    <span><img src="images/default.png"></span>
                    <span class="sign-up-name">張小婷</span>
                </li>
                <li>
                    <span><img src="images/default.png"></span>
                    <span class="sign-up-name">張小婷</span>
                </li>
                <li>
                    <span><img src="images/default.png"></span>
                    <span class="sign-up-name">張小婷</span>
                </li>
                <li>
                    <span><img src="images/default.png"></span>
                    <span class="sign-up-name">張小婷</span>
                </li>
                <li>
                    <span><img src="images/default.png"></span>
                    <span class="sign-up-name">張小婷</span>
                </li>
                <li>
                    <span><img src="images/default.png"></span>
                    <span class="sign-up-name">張小婷</span>
                </li>
                <li>
                    <span><img src="images/default.png"></span>
                    <span class="sign-up-name">張小婷</span>
                </li>
            </ul>
        </div>
    </div>
</div>