<div class="grid-960">
    <div class="group">
        <ul class="sub-nav">
            <li>|</li>
            <li><a href="#a1">耶誕典藏家</a></li>
            <li>|</li>
            <li><a href="#a2">耶誕主題曲目推薦專區</a></li>
            <li>|</li>
        </ul>
    </div>
    <div class="group">
        <a name="a1"></a>
        <h2 class="page-title center">【耶誕典藏家】</h2>
        <div class="sign-up-btn"><a href="https://www.muzik-online.com/listen/{{ member.category_name }}/{{ member.member_uuid }}" target="_blank" id="sign-up" class="member-page" ><button class="sign-up-btn-style">我要參加活動</button></a></div>
        <div class="desc">
            <p class="strong">於享受典藏　耶誕跨年古典樂活動頁面按參加《耶誕典藏家》者</p>
            <p>需建立《耶誕典藏家》歌單，裡面必有5首以上之曲目（可複製主題點播《耶誕古典樂》之歌單曲目），個人頁面被收藏最高前三名者即有獎品。</p>
            <br />
            <p class="strong">如何推廣自己的歌單及個人頁面？</p>
            <p>可使用 Facebook 推廣自己的《耶誕典藏家》主題歌單，讓自己也能成為名人 DJ。</p>
        </div>
    </div>
    <div class="group">
        <h3 class="title">活動流程</h3>
        <p><img src="images/collect-step.jpg"></p>
    </div>
    <div class="group">
        <p class="sub-title">step1. 請先登入</p>
        <p><img src="images/step01.jpg"></p>
        <br />
        <p class="sub-title">step2.</p>
        <p class="step-image-desc">方式一. 將歌單一名稱改為《耶誕典藏家》</p>
        <p><img src="images/step02-1.jpg"></p>
        <br />
        <p class="step-image-desc">方式二. 新增《耶誕典藏家》歌單（限 付費會員 或 首次使用 Facebook 登入送一個月者）</p>
        <p><img src="images/step02-2.jpg"></p>
        <br />
        <p class="sub-title">step3. 加入五首歌曲</p>
        <p class="step-image-desc">1. 自己由網站搜尋五首耶誕歌曲。</p>
        <p><img src="images/step03-1.jpg"></p>
        <br />
        <p class="step-image-desc">2. 從推薦的《名人響叮噹》中，加入五首耶誕歌曲。</p>
        <p><img src="images/step03-2.jpg"></p>
        <br />
        <p class="sub-title">step4. 分享推廣自己的《耶誕典藏家》歌單</p>
        <p><img src="images/step04-1.jpg"></p>
        <p><img src="images/step04-2.jpg"></p>
        <br />
        <p class="sub-title">step5. 完成活動</p>
        <p><img src="images/step05.jpg"></p>
        <br />
        <div class="center"><a href="https://www.muzik-online.com/listen/{{ member.category_name }}/{{ member.member_uuid }}" target="_blank" id="sign-up" class="member-page" ><button class="sign-up-btn-style2">我要參加活動</button></a></div>
    </div>

    <div class="group clearfix">
        <a name="a2"></a>
        <div class="list-title"><h3>耶誕主題曲目推薦專區</h3></div>
        <div class="dj-group">
            <ul>
                <li>
                    <span><img src="images/dj-01.jpg"></span>
                    <span class="dj-name">MUZIK 古典樂刊發行人 - 孫家璁</span>
                    <a href="https://www.muzik-online.com/listen/dj/4fc556f8-35ea-4b11-8aa1-bfde0f32d8cf/79654d61-217c-3ada-17d5-00784cda9b81" target="_blank"><span class="dj-button">前往聆聽</span></a>
                </li>
                <li>
                    <span><img src="https://graph.facebook.com/100000170329317/picture?width=200&height=200"></span>
                    <span class="dj-name">林伯杰</span>
                    <a href="https://www.muzik-online.com/listen/dj/6fe98a6b-b4a6-429f-a96f-185063b76f47/4ba18126-0b1f-5718-7221-d955024fe359" target="_blank"><span class="dj-button">前往聆聽</span></a>
                </li>
                <li>
                    <span><img src="https://graph.facebook.com/100001145238189/picture?width=200&amp;height=200"></span>
                    <span class="dj-name">Kisplay Kis</span>
                    <a href="https://www.muzik-online.com/listen/dj/b6839861-ac0a-4649-9583-cb32691fda7d/5f594b27-c16a-19f2-2967-a8e0dd81f93c" target="_blank"><span class="dj-button">前往聆聽</span></a>
                </li>
            </ul>
        </div>
    </div>

    <div class="group clearfix">
        <h3 class="list-title">MUZIK APP 推薦</h3>
        <ul class="app-group clearfix">
            <li>
                <span class="app-qrcode"><img src="images/QRcode.jpg"></span>
                <span class="app-bold">MUZIK APP</span>
                <span>( for Android )</span>
                <span class="app-btn"><a href="https://play.google.com/store/apps/details?id=com.muzik&hl=zh-TW" target="_blank"><img src="images/android.jpg"></a></span>
            </li>
            <li>
                <span class="app-qrcode"><img src="images/QRcode.jpg"></span>
                <span class="app-bold">MUZIK APP</span>
                <span>( for iOS )</span>
                <span class="app-btn"><a href="https://itunes.apple.com/tw/app/muzik-online/id683134818?mt=8" target="_blank"><img src="images/ios.jpg"></a></span>
            </li>
            <li>
                <span class="app-qrcode"><img src="images/QRcode.jpg"></span>
                <span class="app-bold">MUZIK Radio</span>
                <span>( for Windows Phone )</span>
                <span class="app-btn"><a href="http://www.windowsphone.com/zh-tw/store/app/muzik-radio/55771854-0fa7-4b50-8a66-4ab623b13c2e" target="_blank"><img src="images/windows.jpg"></a></span>
            </li>
        </ul>
    </div>
</div>
