<div class="grid-960">
    <div class="group">
        <h2 class="page-title">【名人響叮噹】</h2>
        <div class="desc">於享受典藏　耶誕跨年古典樂活動頁面按參加《名人響叮噹》者
收藏有建立耶誕主題歌單的名人DJ之個人頁面，即可參加抽獎。每位名人抽一位幸運收藏者。</div>
    </div>
    <div class="group">
        <h3 class="title">活動流程</h2>
        <p><img src="images/dj-step.jpg"></p>
    </div>
    <div class="group">
        <p>step1. 請先登入</p>
        <p><img src="images/step-start.jpg"></p>
        <br />
        <p>step2. 點選想要收藏的名人</p>
        <p><img src="images/dj-step02.jpg"></p>
        <br />
        <p>step3. 加入收藏</p>
        <p><img src="images/dj-step03.jpg"></p>
        <br />
        <p>step4. 完成活動</p>
        <p><img src="images/dj-step04.jpg"></p>
        <br />
    </div>
    
    <h3 class="title">推薦名人</h3>
    <div class="group">
        <div class="dj-group">
            <div class="dj-image"><img src="images/dj-01.jpg"></div>
            <div class="dj-name">MUZIK 古典樂刊發行人- 孫家璁</div>
            <a href="#"><div class="dj-collect-btn"><i class="icons icons-collectW-25"></i> 我要收藏</div></a>
        </div>
        <div class="dj-sign-up-group">
            <div class="sub-title">已成功收藏者</div>
            
            <div class="mCustomScrollbar">
                <ul class="sign-up">
                    <li>
                        <span><img src="images/default.png"></span>
                        <span class="sign-up-name">張小婷張小婷張小婷張小婷</span>
                    </li>
                    <li>
                        <span><img src="images/default.png"></span>
                        <span class="sign-up-name">張小婷</span>
                    </li>
                    <li>
                        <span><img src="images/default.png"></span>
                        <span class="sign-up-name">張小婷</span>
                    </li>
                    <li>
                        <span><img src="images/default.png"></span>
                        <span class="sign-up-name">張小婷</span>
                    </li>
                    <li>
                        <span><img src="images/default.png"></span>
                        <span class="sign-up-name">張小婷</span>
                    </li>
                    <li>
                        <span><img src="images/default.png"></span>
                        <span class="sign-up-name">張小婷</span>
                    </li>
                    <li>
                        <span><img src="images/default.png"></span>
                        <span class="sign-up-name">張小婷</span>
                    </li>
                    <li>
                        <span><img src="images/default.png"></span>
                        <span class="sign-up-name">張小婷</span>
                    </li>
                    <li>
                        <span><img src="images/default.png"></span>
                        <span class="sign-up-name">張小婷</span>
                    </li>
                    <li>
                        <span><img src="images/default.png"></span>
                        <span class="sign-up-name">張小婷</span>
                    </li>
                    <li>
                        <span><img src="images/default.png"></span>
                        <span class="sign-up-name">張小婷</span>
                    </li>
                    <li>
                        <span><img src="images/default.png"></span>
                        <span class="sign-up-name">張小婷</span>
                    </li>
                    <li>
                        <span><img src="images/default.png"></span>
                        <span class="sign-up-name">張小婷</span>
                    </li>
                    <li>
                        <span><img src="images/default.png"></span>
                        <span class="sign-up-name">張小婷</span>
                    </li>
                    <li>
                        <span><img src="images/default.png"></span>
                        <span class="sign-up-name">張小婷</span>
                    </li>
                    <li>
                        <span><img src="images/default.png"></span>
                        <span class="sign-up-name">張小婷</span>
                    </li>
                    <li>
                        <span><img src="images/default.png"></span>
                        <span class="sign-up-name">張小婷</span>
                    </li>
                    <li>
                        <span><img src="images/default.png"></span>
                        <span class="sign-up-name">張小婷</span>
                    </li>
                    <li>
                        <span><img src="images/default.png"></span>
                        <span class="sign-up-name">張小婷</span>
                    </li>
                    <li>
                        <span><img src="images/default.png"></span>
                        <span class="sign-up-name">張小婷</span>
                    </li>
                    <li>
                        <span><img src="images/default.png"></span>
                        <span class="sign-up-name">張小婷</span>
                    </li>
                    <li>
                        <span><img src="images/default.png"></span>
                        <span class="sign-up-name">張小婷</span>
                    </li>
                    <li>
                        <span><img src="images/default.png"></span>
                        <span class="sign-up-name">張小婷</span>
                    </li>
                    <li>
                        <span><img src="images/default.png"></span>
                        <span class="sign-up-name">張小婷</span>
                    </li>
                    <li>
                        <span><img src="images/default.png"></span>
                        <span class="sign-up-name">張小婷</span>
                    </li>
                    <li>
                        <span><img src="images/default.png"></span>
                        <span class="sign-up-name">張小婷</span>
                    </li>
                </ul>
            </div>
            <!-- mCustomScrollbar end-->
        </div>
        <!-- dj-sign-up-group end-->
    </div>
        
    <div class="group">
        <div class="dj-group">
            <div class="dj-image"><img src="images/dj-01.jpg"></div>
            <div class="dj-name">MUZIK 古典樂刊發行人- 孫家璁</div>
            <a href="#"><div class="dj-collect-btn"><i class="icons icons-collectW-25"></i> 我要收藏</div></a>
        </div>
        <div class="dj-sign-up-group">
            <div class="sub-title">已成功收藏者</div>
            
            <div class="mCustomScrollbar">
                <ul class="sign-up">
<!--                     <li>
                        <span><img src="images/default.png"></span>
                        <span class="sign-up-name">張小婷張小婷張小婷張小婷</span>
                    </li>
                    <li>
                        <span><img src="images/default.png"></span>
                        <span class="sign-up-name">張小婷</span>
                    </li> -->
                </ul>
            </div>
            <!-- mCustomScrollbar end-->
        </div>
        <!-- dj-sign-up-group end-->
    </div>

    <div class="group">
        <div class="dj-group">
            <div class="dj-image"><img src="images/dj-01.jpg"></div>
            <div class="dj-name">MUZIK 古典樂刊發行人- 孫家璁</div>
            <a href="#"><div class="dj-collect-btn"><i class="icons icons-collectW-25"></i> 我要收藏</div></a>
        </div>
        <div class="dj-sign-up-group">
            <div class="sub-title">已成功收藏者</div>
            
            <div class="mCustomScrollbar">
                <ul class="sign-up">
                    <li>
                        <span><img src="images/default.png"></span>
                        <span class="sign-up-name">張小婷張小婷張小婷張小婷</span>
                    </li>
                    <li>
                        <span><img src="images/default.png"></span>
                        <span class="sign-up-name">張小婷</span>
                    </li>
                </ul>
            </div>
            <!-- mCustomScrollbar end-->
        </div>
        <!-- dj-sign-up-group end-->
    </div>






</div>