<div class="grid-960">
    <div class="group">
        <div class="center">今年耶誕節準備好與 MUZIK ONLINE 一起同樂了嗎？<br />我們準備多項精緻的禮物想與大家分享歡樂<br />只需動動你的手指<br />即可參加 MUZIK ONLINE 耶誕贈獎活動唷！</div>
    </div>
    <div class="group">
        <div class="w70-percent">
            <p class="strong">MUZIK ONLINE 把古典樂生活化，讓你的世界不再只有流行樂。</p>
            <p>你以為耶誕節曲目僅限於「叮叮噹、叮叮噹，鈴聲多響亮」及「平安夜，聖誕夜」等，耶誕節傳統歌曲嗎？其實流傳許久的古典音樂裡很多是符合節慶的曲目，讓我們今年帶給你「復古風」的耶誕節。</p>
        </div>
    </div>
    <div class="group">
        <div class="w70-percent">
            <p class="strong">耶誕歌曲哪裡聽？</p>
            <p>MUZIK ONLINE 特別邀請《微軟與你歡度耶誕》Microsoft 及《名人響叮噹》名人DJ來推薦耶誕主題曲目，不僅人人皆知的巴赫、莫札特、蕭邦等知名作曲家，還有其他鬼才作曲家，藉此可以發現專屬你的古典新天地。</p>
            <br />
            <p>別猶豫了！動動你的手指參加我們<span class="bold">「享受典藏　耶誕跨年古典樂」</span>及 Microsoft 特別企劃，收藏<span class="bold">《微軟與你歡度耶誕》</span>主題點播即可參加抽獎活動，於 <span class="strong">12/20 ~ 12/31</span> 分享你的古典樂，邀請你的朋友一起薰陶在這氛圍中吧！</p>
            <br />
            <p>千萬記住在這期間要好好推薦你的《耶誕典藏家》歌單，被收藏前三名者即有精美禮物喔！當然也別忘了去聽聽其他人推薦的古典曲目，我相信也會有意想不到的收穫，喜歡也加入收藏互相給個鼓勵吧！</p>
        </div>
    </div>
    <div class="group">
        <div class="w70-percent">
            <h3 class="title">活動獎品</h3>
            <div class="prize-title">耶誕典藏家</div>
            <ul class="prize clearfix">
                <li>
                    <span class="prize-img"><img src="images/nokia920.jpg"></span>
                    <span class="prize-desc strong">頭獎</span>
                    <span class="prize-desc">Nokia Lumia 920<br />（顏色隨機）</span>
                </li>
                <li>
                    <span class="prize-img"><img src="images/ath-sj33.jpg"></span>
                    <span class="prize-desc strong">貳獎</span>
                    <span class="prize-desc">鐵三角 ATH-SJ33 DJ<br />風密閉型頭戴式耳機</span>
                </li>
                 <li>
                    <span class="prize-img"><img src="images/online-card.jpg"></span>
                    <span class="prize-desc strong">参獎</span>
                    <span class="prize-desc">MUZIK ONLINE <br />一年份付費會員</span>
                </li>
            </ul>
            <div class="prize-note">※ 請 Nokia Lumia 920 得主需至希幔數位（MUZIK ONLINE）親領。</div>
            <div class="prize-title">Microsoft 耶誕專區</div>
            <ul class="prize prize-mircosoft clearfix">
                <li>
                    <span class="prize-img"><img src="images/ticket.jpg"></span>
                    <span class="prize-desc">威秀電影票 2 份（一份兩張）</span>
                </li>
            </ul>

        </div>
    </div>
<!--     <div class="group">
        <ul class="list clearfix">
            <li class="list-title"><h2>【名人響叮噹】</h2></li>
            <li>
                <span class="list-desc">於享受典藏　耶誕跨年古典樂活動頁面按參加《名人響叮噹》者收藏有建立耶誕主題歌單的名人DJ之個人頁面，即可參加抽獎。每位名人抽一位幸運收藏者。</span>
                <span class="list-btn"><button class="detail" data-temp-name="dj">詳細說明</button></span>
            </li>
        </ul>
        <ul class="list clearfix">
            <li class="list-title"><h2>【耶誕典藏家】</h2></li>
            <li>
                <span class="list-desc">於享受典藏　耶誕跨年古典樂活動頁面按參加《耶誕典藏家》者需建立《耶誕典藏家》歌單，裡面必有5首以上之曲目（可複製主題點播《耶誕古典樂》之歌單曲目），個人頁面被收藏最高前三名者即有獎品。</span>
                <span class="list-btn"><button class="detail" data-temp-name="collect">詳細說明</button></span>
            </li>
        </ul>
        <ul class="list clearfix">
            <li class="list-title"><h2> 【耶誕古典樂】</h2></li>
            <li>
                <span class="list-desc">於享受典藏　耶誕跨年古典樂活動頁面按參加《耶誕古典樂》者至主題點播頁面收藏MUZIK推薦的耶誕歌，即可參加抽獎。</span>
                <span class="list-btn"><button class="detail" data-temp-name="classical">詳細說明</button></span>
            </li>
        </ul>
    </div> -->
</div>
