<div class="grid-960">
    <div class="group">
        <ul class="qa">
            <li class="qa-title">Q&A</li>
            <li class="qa-qusetion">
                <span class="q">Q</span>
                <span>如果現在已收藏的人可以再參加活動嗎？</span>
            </li>
            <li class="qa-answer">可以！只要至我們的活動頁面按參加《名人響叮噹》活動即可，只是省去再按收藏的步驟。</li>
            <li class="qa-qusetion">
                <span class="q">Q</span>
                <span>一般會員只能收藏一個頁面，那我想參加其他活動怎麼辦？</span>
            </li>
            <li class="qa-answer">
                MUZIK ONLINE 只要使用 Facebook 登入即可送一個月的付費會員的功能。
                <br />會員權限說明：<a href="https://www.muzik-online.com/cashflow/upgrade" target="_blank">https://www.muzik-online.com/cashflow/upgrade</a>
            </li>
            <li class="qa-qusetion">
                <span class="q">Q</span>
                <span>我之前已使用過 Facebook 登入，一個月期效已過卻想參加其他活動呢？</span>
            </li>
            <li class="qa-answer">建議可以參加《耶誕典藏家》只要建立《耶誕典藏家》之歌單，推薦5首以上耶誕相關古典音樂後，推廣自己的個人頁面（建立自己的小小粉絲團，你也能成為名人 DJ），只要個人頁面被收藏前三高者皆有獎品。</li>
            <li class="qa-qusetion">
                <span class="q">Q</span>
                <span>我之前已使用過 Facebook 登入，一個月期效已過卻想參加其他活動呢？</span>
            </li>
            <li class="qa-answer">沒關係，我們 MUZIK ONLINE 主題點播的頁面有建立一個與耶誕節相關的古典音樂，可以加入到自己的《耶誕典藏家》歌單即可。</li>
            <li class="qa-qusetion">
                <span class="q">Q</span>
                <span>這裡沒有我想問題，該怎麼辦？</span>
            </li>
            <li class="qa-answer">
                請您至 MUZIK ONLINE 客服中心填寫您想要問的問題，我們會盡快與您聯繫，謝謝。
                <br />
                MUZIK ONLINE 客服中心：<a href="https://www.muzik-online.com/service" target="_blank">https://www.muzik-online.com/service</a>
            </li>
        </ul>
    

    </div>
    
    
</div>