<div class="grid-960">
    <div class="group">
        <h2 class="page-title">得獎名單</h2>
        <div class="announce">活動將於 2014/01/03 公布得獎名單</div>
        <br />
        <br />
        <br />
    </div>
    <div class="group">
        <p class="precautions-title">活動注意事項</p>
        <ul class="precautions">
            <li>本活動獎項寄送地區僅限台灣本島地區。外島及海外地區恕無法配送。</li>
            <li>中獎者不得要求指定獎項更改或折換成現金。</li>
            <li>參加者不得以任何非法、欺騙等舞弊方法取得中獎資格。</li>
            <li>參加者於參加本活動之同時亦即表示您接受本活動之活動辦法與注意事項之規範。</li>
            <li>本主辦單位保有隨時修改及終止本活動與贈品之權利。</li>
          </ul>
    </div>
</div>