    <!-- FOOTER start -->
    <footer>
        <div class="grid-980">
            <div class="footer-group">
                <ul class="logo-group">
                    <li class="footer-list">主辦單位：</li>
                    <a href="https://www.muzik-online.com/tw/" target="_blank">
                        <li class="footer-list-logo icons-logo-online">
                        MUZIK ONLINE</li>
                    </a>
                    <li class="footer-list">協辦單位：</li>
                    <a href="http://www.sony.com.tw/" target="_blank">
                        <li class="footer-list-logo icons-logo-sony">SONY</li>
                    </a>
                </ul>
                <div class="share">
                    <div class="fb-share">
                        <div class="fb-share-button" data-href="{{ base_uri }}/" data-type="button_count"></div>
                    </div>
                    <div class="google-plus-share">
                        <div class="g-plusone" data-size="medium"></div>
                    </div>
                    <div class="twitter-share">
                        <a href="https://twitter.com/share" class="twitter-share-button" data-lang="zh-tw"></a>
                    </div>
                </div>
            </div>
            <div class="footer-group">
                <ul class="follow-group">
                    <li class="footer-list">Follow us</li>
                    <li class="footer-list follow-fb">
                        <a href="https://www.facebook.com/muzikonline.Taiwan" target="_blank"><i class="icons-icon-fb"></i></a>Facebook
                    </li>
                    <li class="footer-list follow-google-plus">
                        <a href="https://plus.google.com/+Muzikonlinetw/videos" target="_blank"><i class="icons-icon-google-plus"></i></a>google+</li>
                    <li class="footer-list follow-youtube">
                        <a href="https://www.youtube.com/channel/UCUnKXJ1AcPH1Uk5hl4nUf-g" target="_blank"><i class="icons-icon-youtube"></i></a>Youtube
                    </li>
                </ul>
                <ul class="menu-group">
                    <li class="footer-list"><a href="https://www.muzik-online.com/tw/reason">MUZIK ONLINE 與古典樂</a></li>
                    <li class="footer-list footer-line">|</li>
                    <li class="footer-list">客服信箱：<a href="mailto:service@muzik-online.com">service@muzik-online.com</a></li>
                    <li class="footer-list footer-line">|</li>
                    <li class="footer-list">©2014 MUZIK Creative Digital Ltd.</li>
                </ul>
            </div>
        </div>
    </footer>
    <!-- FOOTER end -->
