{% extends '_index.twig' %}

{% block body %}
    <div id="MAIN" _height="auto">
        <div class="go-top" id="TOP"><span class="arrow-top"></span>TOP</div>

        <div class="index-bg">
            <a href="sing-up"><div class="btn-go-sing-up">我要參加活動</div></a>
        </div>
        <div class="index-bg-upright">
            <a href="sing-up"><div class="btn-go-sing-up">我要參加活動</div></a>
        </div>

    </div>
{% endblock %}

