@charset "utf-8";
/* CSS Document */
ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
}
.abgne_tab {
	clear: left;
	/*width: 100%;*/
	margin: 10px;
}
ul.tabs {
	width: 155px;
	margin: 0 auto;
}
ul.tabs li {
	float: left;
	overflow: hidden;
	position: relative;
	background: #e1e1e1;
	margin: 0 10px 10px 0;
	border-radius: 5px;
}
ul.tabs li a {
	display: block;
	padding:5px 10px;
	color: #333;
	text-decoration: none;
}
ul.tabs li a:hover {
	background: #ccc;
	color: #000;
	border-radius: 5px;
}
ul.tabs li.active a {
	background: #F60;
	color: #FFF;
	border-radius: 5px;
}
/*ul.tabs li.active a:hover {
	background: #FC6;
}*/
div.tab_container {
	clear: left;
	width: 100%;
	margin-top: 10px;
	display: inline-table;
}
/*div.tab_container .tab_content {
	padding: 20px;
}
div.tab_container .tab_content h2 {
	margin: 0 0 20px;
}*/
.tab_content .txt ul li{
	list-style-type: disc;
	line-height: 30px;
	margin-left: 20px;
	clear: both;
}


/*----- vote tabs_vote ------*/
ul.tabs_vote {
	width: 100%;
}
ul.tabs_vote li {
	float: left;
	height: px;
	line-height: 32px;
	overflow: hidden;
	position: relative;
	background: #e1e1e1;
	margin: 0 10px 10px 0;
	border-radius: 5px;
}
ul.tabs_vote li a {
	display: block;
	padding:5px 15px;
	color: #333;
	text-decoration: none;
}
ul.tabs_vote li a:hover {
	background: #ccc;
	color: #000;
	border-radius: 5px;
}
ul.tabs_vote li.active a {
	background: #F60;
	color: #FFF;
	border-radius: 5px;
}